<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<groups>
			<run>
				<include name="negative"/>
			</run>
		</groups>
      <class name="introduction.Base"/>
      <class name="introduction.ApplicationFlow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
